# IMMOWEB PROJECT: EXPLORATORY DATA ANALYSIS

In [1]:
# Set the notebook to show all outputs in the cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#from ydata_profiling import ProfileReport

# This is for reading the locality name properly. In avoiding the encoding error
import csv
import os

import numpy as np

import warnings
warnings.filterwarnings('ignore')

# Pandas options for data wrangling and output set-up 
import pandas as pd
pd.set_option('display.max_columns', None) # display all columns
pd.set_option('display.expand_frame_repr', False) # print all columns and in the same line
pd.set_option('display.max_colwidth', None) # display the full content of each cell
pd.set_option('display.float_format', lambda x: '%.2f' %x) # floats to be displayed with 2 decimal places

# Visualisation libraries and set-up
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
%matplotlib inline

# Set up visualisation preferences
plt.rcParams['font.family'] = "serif"  # Use serif fonts for plots
sns.set_style('whitegrid')  # Set seaborn grid style
# sns.set_style('darkgrid')

## FUNCTIONS USED RECURRENTLY

In [2]:
# Function to run basic data frame description
def Descriptives(df):
    print("Looking at the shape to see the number of records:", df.shape)
    print("\nDescription of the file to check values range:")
    print(df.describe().transpose())
    print("\nAttributes and respective data types:")
    print(df.info())

def MemOptimisation(df):
    print(f"\nAmount of memory used by all attributes: {df.memory_usage(deep=True).sum()}\n")
    
    # Optimise memory usage
    for i in categoric_cols:
        df[i] = df[i].astype('category')
    for i in numeric_cols:
        df[i] = pd.to_numeric(df[i], downcast='integer')
        df[i] = pd.to_numeric(df[i], downcast='float')    

    print(df.info(memory_usage='deep'))
    print("\nAmount of memory used now by all attributes: ",df.memory_usage(deep=True).sum())
    
# Function to check the missing values (NaNs)
def Missing(df):
    try:
        assert df.notnull().all().all()
        print("Good news! There are no missing values.")
    
    except AssertionError:
        print("Count of missing values:")
        print(df.isna().sum())
        print("\nPercentage of missing values:")
        print(df.isna().mean().round(4)*100, "\n")

In [3]:
def Plot_numeric(x):
    
    print(f'\n*** {x.upper()} ***')
    
    fig = plt.figure(figsize=(15, 3))
    
    plt.subplot(121)
    sns.distplot(df[x], color = 'salmon')
    plt.xlabel('')
    plt.title(f'{x} Distribution')
    
    plt.subplot(122)
    sns.boxplot(x=df[x], color = 'salmon', width=0.4, linewidth=2) 
    plt.xlabel('')
    plt.title(f'{x} Boxplot')
    
    plt.show()

In [4]:
def Plot_category(x):
    print(f'\n*** {x.upper()} ***')

    # Sort the categories by count
    order = df[x].value_counts().index

    fig, ax = plt.subplots(figsize=(10, 3))

    sns.countplot(data=df, y=df[x], order=order, color='salmon', width=0.4, ax=ax)

    ax.set_ylabel('')
    ax.set_xlabel('')
    ax.set_title(f'{x.upper()} COUNT')

    # Add count labels to bars
    for p in ax.patches:
        count = int(p.get_width())
        ax.text(p.get_width() + 0.5, p.get_y() + p.get_height() / 2,
                f'{count:,}', va='center')

    plt.show()

In [5]:
# # 1. Input & Output paths
# input_path = r"D:\Projects\BXL-Bouman-9\challenge-data-analysis\data\raw\immoweb_dataset.csv"
# output_path = r"D:\Projects\BXL-Bouman-9\challenge-data-analysis\data\cleaned\immoweb_dataset_cleaned.csv"

# # Check input file exists
# if not os.path.exists(input_path):
#     raise FileNotFoundError(f"Input file is not found: {input_path}")

# # 2. Read CSV with multiple encodings
# encodings = ["utf-8", "utf-8-sig", "ISO-8859-1", "latin1", "gbk"]
# df = None
# for enc in encodings:
#     try:
#         df = pd.read_csv(input_path, encoding=enc)
#         print(f"Successfully read the file with encoding:{enc}")
#         break
#     except Exception:
#         continue
# if df is None:
#     raise UnicodeError("Can't read the file with common encodings,please check the file's encode。")

In [6]:
# Load the CSV file
df = pd.read_csv("immoweb-dataset.csv")

In [7]:
# Clean up the column names
# df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]
df.columns = [col.strip() for col in df.columns]

In [8]:
Descriptives(df)

Looking at the shape to see the number of records: (80368, 53)

Description of the file to check values range:
                            count        mean        std        min         25%         50%         75%         max
Unnamed: 0               80368.00   209681.71  105460.84       0.00   181965.75   235124.50   257006.25   446550.00
id                       80368.00 19529221.31 2897688.01 1882546.00 20350553.25 20529847.50 20614940.75 20664387.00
bedroomCount             73558.00        3.01       1.83       1.00        2.00        3.00        4.00      100.00
bathroomCount            66672.00        1.43       4.56       1.00        1.00        1.00        2.00     1146.00
postCode                 80368.00     5266.59    3045.70    1000.00     2330.00     4830.00     8420.00     9992.00
habitableSurface         67783.00      178.50     820.88       6.00       93.00      140.00      200.00   185347.00
roomCount                21948.00        7.11       5.82       1.00        1.00        6.00       11.00       68.00
monthlyCost                  0.00         NaN        NaN        NaN         NaN         NaN         NaN         NaN
diningRoomSurface         6901.00       21.12      43.54       1.00       14.00       18.00       24.00     2470.00
buildingConstructionYear 49106.00     1978.02      41.60    1753.00     1957.00     1980.00     2017.00     2055.00
facedeCount              53239.00        2.83       0.94       1.00        2.00        3.00        4.00       86.00
floorCount               37546.00        3.97     114.40       1.00        2.00        3.00        4.00    21963.00
streetFacadeWidth        15510.00       16.55     110.03       1.00        6.00        8.00       12.00     8700.00
kitchenSurface           24263.00       15.19     109.09       1.00        9.00       12.00       16.00    16202.00
landSurface              39541.00     1289.41    5657.08       1.00      218.00      461.00      963.00   580608.00
livingRoomSurface        28950.00       37.13     209.68       1.00       25.00       32.00       40.00    34418.00
hasBalcony                   0.00         NaN        NaN        NaN         NaN         NaN         NaN         NaN
gardenSurface            15958.00      696.32    6308.72       1.00       55.00      171.00      518.00   734674.00
parkingCountIndoor       28239.00        6.68     430.01       1.00        1.00        1.00        1.00    50000.00
parkingCountOutdoor      18326.00        8.28     746.15       1.00        1.00        2.00        3.00   101010.00
toiletCount              55094.00        1.81       8.41       1.00        1.00        2.00        2.00     1958.00
terraceSurface           28599.00       24.51      43.24       1.00        8.00       15.00       29.00     2921.00
accessibleDisabledPeople     0.00         NaN        NaN        NaN         NaN         NaN         NaN         NaN
price                    76370.00   447606.06  511575.74    3141.00   230000.00   329900.00   479000.00 15000000.00

Attributes and respective data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80368 entries, 0 to 80367
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                80368 non-null  int64
 1   id                        80368 non-null  float64
 2   url                       80368 non-null  object
 3   type                      80368 non-null  object
 4   subtype                   80368 non-null  object
 5   bedroomCount              73558 non-null  float64
 6   bathroomCount             66672 non-null  float64
 7   province                  80368 non-null  object
 8   locality                  80368 non-null  object
 9   postCode                  80368 non-null  int64
 10  habitableSurface          67783 non-null  float64
 11  roomCount                 21948 non-null  float64
 12  monthlyCost               0 non-null      float64
 13  hasAttic                  12516 non-null  object
 14  hasBasement               29315 non-null  object
 15  hasDressingRoom           2628 non-null   object
 16  diningRoomSurface         6901 non-null   float64
 17  hasDiningRoom             14141 non-null  object
 18  buildingCondition         57992 non-null  object
 19  buildingConstructionYear  49106 non-null  float64
 20  facedeCount               53239 non-null  float64
 21  floorCount                37546 non-null  float64
 22  streetFacadeWidth         15510 non-null  float64
 23  hasLift                   19044 non-null  object
 24  floodZoneType             44466 non-null  object
 25  heatingType               47153 non-null  object
 26  hasHeatPump               7473 non-null   object
 27  hasPhotovoltaicPanels     8048 non-null   object
 28  hasThermicPanels          3112 non-null   object
 29  kitchenSurface            24263 non-null  float64
 30  kitchenType               41916 non-null  object
 31  landSurface               39541 non-null  float64
 32  hasLivingRoom             42876 non-null  object
 33  livingRoomSurface         28950 non-null  float64
 34  hasBalcony                0 non-null      float64
 35  hasGarden                 15958 non-null  object
 36  gardenSurface             15958 non-null  float64
 37  gardenOrientation         5601 non-null   object
 38  parkingCountIndoor        28239 non-null  float64
 39  parkingCountOutdoor       18326 non-null  float64
 40  hasAirConditioning        1124 non-null   object
 41  hasArmoredDoor            3698 non-null   object
 42  hasVisiophone             15991 non-null  object
 43  hasOffice                 10387 non-null  object
 44  toiletCount               55094 non-null  float64
 45  hasSwimmingPool           1816 non-null   object
 46  hasFireplace              3044 non-null   object
 47  hasTerrace                47429 non-null  object
 48  terraceSurface            28599 non-null  float64
 49  terraceOrientation        11262 non-null  object
 50  accessibleDisabledPeople  0 non-null      float64
 51  epcScore                  65391 non-null  object
 52  price                     76370 non-null  float64
dtypes: float64(22), int64(2), object(29)
memory usage: 32.5+ MB
None

In [ ]:
# # Differentiate numerical and categorical cols
# numeric_cols = df.select_dtypes(include=np.number).columns
# numeric_cols

# categoric_cols = df.select_dtypes(exclude=np.number).columns
# categoric_cols

In [9]:
print(*df.columns, sep="\n")

Unnamed: 0
id
url
type
subtype
bedroomCount
bathroomCount
province
locality
postCode
habitableSurface
roomCount
monthlyCost
hasAttic
hasBasement
hasDressingRoom
diningRoomSurface
hasDiningRoom
buildingCondition
buildingConstructionYear
facedeCount
floorCount
streetFacadeWidth
hasLift
floodZoneType
heatingType
hasHeatPump
hasPhotovoltaicPanels
hasThermicPanels
kitchenSurface
kitchenType
landSurface
hasLivingRoom
livingRoomSurface
hasBalcony
hasGarden
gardenSurface
gardenOrientation
parkingCountIndoor
parkingCountOutdoor
hasAirConditioning
hasArmoredDoor
hasVisiophone
hasOffice
toiletCount
hasSwimmingPool
hasFireplace
hasTerrace
terraceSurface
terraceOrientation
accessibleDisabledPeople
epcScore
price

### TARGET VARIABLE: PRICE

In [10]:
Missing(df['price'])

Count of missing values:
3998

Percentage of missing values:
4.97

In [11]:
# Price is the target variable, we cannot input a value for the missing values
# as we cannot check the reliability of the ML model againt an inputted value: model would be biased
df = df.dropna(subset=['price'])

In [12]:
Missing(df)

Count of missing values:
Unnamed: 0                      0
id                              0
url                             0
type                            0
subtype                         0
bedroomCount                 2820
bathroomCount                9705
province                        0
locality                        0
postCode                        0
habitableSurface             8590
roomCount                   54423
monthlyCost                 76370
hasAttic                    63856
hasBasement                 47057
hasDressingRoom             73742
diningRoomSurface           69471
hasDiningRoom               62231
buildingCondition           18381
buildingConstructionYear    27268
facedeCount                 23136
floorCount                  38827
streetFacadeWidth           60860
hasLift                     57327
floodZoneType               33466
heatingType                 29220
hasHeatPump                 68897
hasPhotovoltaicPanels       68322
hasThermicPanels            73258
kitchenSurface              52109
kitchenType                 34458
landSurface                 36833
hasLivingRoom               33500
livingRoomSurface           47423
hasBalcony                  76370
hasGarden                   60413
gardenSurface               60413
gardenOrientation           70769
parkingCountIndoor          48567
parkingCountOutdoor         58275
hasAirConditioning          75246
hasArmoredDoor              72672
hasVisiophone               60379
hasOffice                   65985
toiletCount                 21280
hasSwimmingPool             74554
hasFireplace                73326
hasTerrace                  28943
terraceSurface              47772
terraceOrientation          65108
accessibleDisabledPeople    76370
epcScore                    11966
price                           0
dtype: int64

Percentage of missing values:
Unnamed: 0                   0.00
id                           0.00
url                          0.00
type                         0.00
subtype                      0.00
bedroomCount                 3.69
bathroomCount               12.71
province                     0.00
locality                     0.00
postCode                     0.00
habitableSurface            11.25
roomCount                   71.26
monthlyCost                100.00
hasAttic                    83.61
hasBasement                 61.62
hasDressingRoom             96.56
diningRoomSurface           90.97
hasDiningRoom               81.49
buildingCondition           24.07
buildingConstructionYear    35.71
facedeCount                 30.29
floorCount                  50.84
streetFacadeWidth           79.69
hasLift                     75.06
floodZoneType               43.82
heatingType                 38.26
hasHeatPump                 90.21
hasPhotovoltaicPanels       89.46
hasThermicPanels            95.93
kitchenSurface              68.23
kitchenType                 45.12
landSurface                 48.23
hasLivingRoom               43.87
livingRoomSurface           62.10
hasBalcony                 100.00
hasGarden                   79.11
gardenSurface               79.11
gardenOrientation           92.67
parkingCountIndoor          63.59
parkingCountOutdoor         76.31
hasAirConditioning          98.53
hasArmoredDoor              95.16
hasVisiophone               79.06
hasOffice                   86.40
toiletCount                 27.86
hasSwimmingPool             97.62
hasFireplace                96.01
hasTerrace                  37.90
terraceSurface              62.55
terraceOrientation          85.25
accessibleDisabledPeople   100.00
epcScore                    15.67
price                        0.00
dtype: float64

In [19]:
# We already see there are variables with 100% missing values we can drop
dropVar = []
dropVar = df.columns[df.isna().sum() == len(df)].tolist()
dropVar

['monthlyCost', 'hasBalcony', 'accessibleDisabledPeople']

### UNNAMED

In [20]:
# This is an index variable, as presumabily the data comes from a dataframe that was saved as CSV keeping the index column
dropVar += ['Unnamed']
dropVar

['monthlyCost', 'hasBalcony', 'accessibleDisabledPeople', 'Unnamed']

### ID and URL

In [21]:
# These variables have no value for predicting price: they can be dropped
# But, first checking if there are duplicated records
df.duplicated(subset=['id','url'], keep=False).sum()

np.int64(0)

In [22]:
dropVar += ['id', 'url']
dropVar

['monthlyCost',
 'hasBalcony',
 'accessibleDisabledPeople',
 'Unnamed',
 'id',
 'url']

### TYPE and SUBTYPE

In [23]:
# Checking the different values in type
df.type.value_counts()

type
HOUSE        45228
APARTMENT    31142
Name: count, dtype: int64

In [ ]:
# The variable subtype shows many different values
# When developping ML model, we should consider grouping to reduce cardinality

In [30]:
ad_types = df[['type', 'subtype']]
ad_types.groupby(['type', 'subtype']).value_counts()

type       subtype
APARTMENT  APARTMENT               23844
           DUPLEX                   1691
           FLAT_STUDIO              1381
           GROUND_FLOOR             1771
           KOT                       331
           LOFT                      259
           PENTHOUSE                1265
           SERVICE_FLAT              449
           TRIPLEX                   151
HOUSE      APARTMENT_BLOCK          2454
           BUNGALOW                  427
           CASTLE                     68
           CHALET                    166
           COUNTRY_COTTAGE           309
           EXCEPTIONAL_PROPERTY      813
           FARMHOUSE                 289
           HOUSE                   33971
           MANOR_HOUSE                46
           MANSION                   544
           MIXED_USE_BUILDING       1840
           OTHER_PROPERTY             54
           PAVILION                    1
           TOWN_HOUSE                477
           VILLA                    3769
Name: count, dtype: int64

### GEO VARIABLES: PROVINCE, LOCALITY, POSTCODE & REGION

In [31]:
# Create a function to assign Regions to the locality

def map_region(row):
    loc = str(row["locality"]).strip()
    prov = row["province"]
    if loc in german_towns:
        return "German-speaking Community"
    if prov == "Brussels":
        return "Brussels"
    if prov in flemish:
        return "Flanders"
    if prov in walloon:
        return "Wallonia"
    return "Unknown"

In [32]:
# Add Region column
flemish = ["Antwerp", "Limburg", "East Flanders", "Flemish Brabant", "West Flanders"]
walloon = ["Hainaut", "Liège", "Luxembourg", "Namur", "Walloon Brabant"]
german_towns = [
        "Eupen", "Kelmis", "Raeren", "Lontzen", "Bütgenbach",
        "Büllingen", "Amel", "Burg-Reuland", "St. Vith"
    ]

df["region"] = df.apply(map_region, axis=1)

# Move "Region" column to left of "province"
region_series = df.pop("region")
province_idx = df.columns.get_loc("province")
df.insert(province_idx, "region", region_series)

# Strip whitespace in locality,Region,province,postCode
df[["locality", "region", "province", "postcode"]] = df[["locality", "region", "province", "postcode"]].astype(str).apply(lambda x: x.str.strip())

KeyError: "['postcode'] not in index"

 HabitableSurface, hasAttic, hasBasement,diningRoomSurface, hasDiningRoom, hasLift, epcScore,accessibleDisabledPeople

In [ ]:
 # 6.  Fill selected columns' NaN with "No value"
# cols_to_fill = [
#     "habitableSurface", "hasAttic", "hasBasement",
#     "diningRoomSurface", "hasDiningRoom", "hasLift", "epcScore"
#     ]
# for col in cols_to_fill:
#     if col in df.columns:
#         df[col] = df[col].fillna("No value")

# Drop column accessibleDisabledPeople if entirely empty
col_drop = "accessibleDisabledPeople"
if col_drop in df.columns and df[col_drop].isnull().all():
    df.drop(columns=[col_drop], inplace=True)

# 8. Strip whitespace from all text columns
for col in df.select_dtypes(include=["object"]).columns:
    df[col] = df[col].astype(str).str.strip()

### BEDROOMCOUNT and ROOMCOUNT

In [ ]:
# These variables are very similar
# and roomCount present high number of missing values
Missing(df[['bedroomcount', 'roomcount']])

In [ ]:
# for records with missing bedroomCount, take roomCount if exists
df['bedroomcount'] = df['bedroomcount'].fillna(df['roomcount'])

In [ ]:
# Then discard roomCount
dropVar += ['roomCount']
dropVar

In [ ]:
df = df.drop(['roomcount'], axis=1)

In [ ]:
Missing(df)

### BATHROOMCOUNT and TOILETCOUNT

These variables are very similar
and there is no information about separate or not toilet

In [ ]:
# First we assume that any property that has missing value for bathroomCount and has 1 toiletCount, has 1 bathroom
mask = df['bathroomcount'].isna() & (df['toiletcount'] == 1)
df.loc[mask, 'bathroomcount'] = 1

In [ ]:
# Having a toilet separate from the bathroom does not make much difference
# But having an extra toilet does
df["extratoilet"] = df['toiletcount'].fillna(0) - df['bathroomcount'].fillna(0)

In [ ]:
Missing(df[['bathroomcount', 'toiletcount', 'extratoilet']])

In [ ]:
Missing(df)

# to continue...

In [ ]:
Missing(df)

### parkingCountIndoor	parkingCountOutdoor

In [ ]:
pk = df[['parkingcountindoor', 'parkingcountoutdoor']
Missing(pk)

In [ ]:
pk.value_counts()

In [ ]:
df['parking'] = df['parkingcountindoor']
df.head()

In [ ]:
df['parking'] = df['parking'].fillna(df['parkingcountoutdoor'])
df['parking'] = df['parking'].fillna(0)
Missing(df['parking'])

In [ ]:
# Assume that if parking = parking outdoor, they are the same
# so drop values in parking outdoor
mask = df['parking'] == df['parkingcountoutdoor']
df.loc[mask, ['parkingcountoutdoor']] = None

In [ ]:
# add to parking the extra outdoor spaces to parking
# we are assuming that parking is double counted
mask = df['parking'] < df['parkingcountoutdoor']
df.loc[mask, 'parking'] += df.loc[mask, 'parkingcountoutdoor'] - df.loc[mask, 'parking']

In [ ]:
df = df.drop(pk, axis=1)

In [ ]:
Missing(df)

### hasGarden	gardenSurface, gardenOrientation
### hasTerrace	terraceSurface	terraceOrientation

In [ ]:
print(df['hasgarden'].value_counts())
print(df['hasterrace'].value_counts())

In [ ]:
# Recode hasterrace to 1 (has) and O (don't)
df['hasgarden'] = df['hasgarden'].apply(lambda x: 1 if x == True else 0)
df['hasterrace'] = df['hasterrace'].apply(lambda x: 1 if x == True else 0)

In [ ]:
df.loc[df['hasgarden'] == 0, 'gardensurface'] = 0
df.loc[df['hasterrace'] == 0, 'terracesurface'] = 0

In [ ]:
df.loc[df['hasgarden'] == 0, 'gardenorientation'] = "No garden"
df.loc[df['hasterrace'] == 0, 'terraceorientation'] = "No terrace"

In [ ]:
df['gardensurface'] = df['gardensurface'].fillna('Not known')
df['terracesurface'] = df['terracesurface'].fillna('Not known')
df['gardenorientation'] = df['gardenorientation'].fillna('Not known')
df['terraceorientation'] = df['terraceorientation'].fillna('Not known')

In [ ]:
df[df['hasterrace'] == 1].head(25)

In [ ]:
Missing(df)

### hasswimmingpool

In [ ]:
df['hasswimmingpool'].value_counts()

In [ ]:
# hasswimmingpool has many missing values,but in Belgium it is rare to have a swimming pool
# we can assume that missing values mean there is no swimmin pool
# and that having swimmin pool correlates with price
df['hasswimmingpool'] = df['hasswimmingpool'].apply(lambda x: 1 if x == True else 0)

### hasarmoreddoor

In [ ]:
# hasarmoreddoor may be a nice feature but probably not one that a buyer would consider
# and shows many missing values
# and a feature that a seller would not care about informing
Missing(df['hasarmoreddoor'])

In [ ]:
# we can drop hasarmoreddoor
df = df.drop(['hasarmoreddoor'], axis=1)

### hasvisiophone

In [ ]:
# hasvisiophone may be a nice feature but probably not one that a buyer would consider
# and shows many missing values
# and a feature that a seller would not care about informing
Missing(df['hasvisiophone'])

In [ ]:
df = df.drop(['hasvisiophone'], axis=1)

### hasoffice

In [ ]:
# hasoffice may be a nice
# but how to differenciate with nuumber of rooms and bedrooms?
# Is it counted twice?
# also shows many missing values

Missing(df['hasoffice'])

In [ ]:
df = df.drop(['hasoffice'], axis=1)

In [ ]:
for i in numeric_cols:
    Plot_numeric(i)

In [ ]:
for i in categoric_cols:
    Plot_category(i)

In [ ]:
correlations = df.corr(numeric_only=True)
fig, ax = plt.subplots(figsize=(12, 8))

# Shows only correlation above +/- 0.3
sns.heatmap(correlations[(correlations > 0.30) | (correlations < -0.30)], cmap='Blues', annot=True, ax=ax)

plt.tight_layout()
plt.show()

In [ ]:
# Generate the report
profile = ProfileReport(df,title="Immoweb properties profile")

# Save the report to .html
profile.to_file("INITIALImmoweb properties profile.html")

In [ ]:
# 9.Save cleaned DataFrame
os.makedirs(os.path.dirname(output_path), exist_ok=True)
df.to_csv(output_path, index=False, encoding="utf-8-sig")
print(f"data is saved to: {output_path}")